.navbar {
    margin: 1% 20%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.first_container > ul {
    display: flex;
}

.first_container > ul > li {
    list-style: none;
    margin-top: 10px;
    margin-right: 20px;
    font-weight: 700;
    font-size: 20px; 
}

.third_container {
    display: flex;
}

.socialIcon {
    margin-right: 20px;
}